@{
    ViewData["Title"] = "Home page";
}

<div class="draw-context">

    <div class="draw-toolbox">
        <div class="tool-button" onclick="AddTool('text')">Text</div>
        <div class="tool-button" onclick="AddTool('circle')">Circle</div>
    </div>

    <div class="draw-content">

    </div>

</div>